.card {
  width: 95.5%;
  display: grid;
  box-sizing: border-box;
  background-color: hsl(160, 6%, 28%);
  color: #e0e4e5;
  border-radius: 1.2em;
  padding: 1.5em;
  margin: 0.75em 0.75em 0 0.75em;
}

.card:last-child {
  margin-bottom: 0.75em;
}

.card-summary {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/12;
  grid-template-columns: 2em 1fr 1fr;
  align-items: center;
  font-size: 1rem;
  font-weight: 900;
  pointer-events: none;
}
.card-summary .ingredient-name {
  pointer-events: auto;
  margin-left: 1.5em;
}
.card-summary .value {
  pointer-events: auto;
  text-align: right;
}
.card-summary .select-indicator {
  background-color: hsl(163, 6%, 23%);
  height: 1.75em;
  width: 1.75em;
  border-radius: 0.5em;
}

.card.highlighted {
  border: 1px solid rgb(242, 246, 249);
}

.select-indicator.highlighted {
  background-color: #e0e4e5;
}

.hidden {
  display: none;
}

.nutrition-value-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1em;
  column-gap: 1em;
  margin-top: 2em;
  font-size: 0.8rem;
}
.nutrition-value-container .value {
  text-align: right;
  align-items: center;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(163, 6%, 23%);
  color: rgb(242, 246, 249);
  flex: 0 0 auto;
}
.input-form .input-field {
  width: 90%;
  line-height: 1.5em;
  padding: 0.5em;
  border-radius: 2em;
  border: none;
  text-align: center;
  background-color: hsl(160, 6%, 28%);
  color: rgb(242, 246, 249);
}
.input-form .label {
  text-align: center;
  margin: 1.5em 0 0.5em 0;
}

.button {
  border: none;
  margin: 1em auto;
  padding: 0.5em 1.45em;
  font-size: 1rem;
  border-radius: 2em;
}

.form-submit-button {
  color: rgb(242, 246, 249);
  background-color: hsl(160, 6%, 28%);
}

.delete-button {
  color: rgb(242, 246, 249);
  background-color: hsl(0, 100%, 30%);
}

.cancel-button,
.close-modal-button {
  color: rgb(242, 246, 249);
  text-shadow: 0 0 25px black;
  background-color: hsl(15, 93%, 41%);
}

.delete-button:focus,
.form-submit-button:focus {
  opacity: 0.8;
}

.close-modal-button {
  border-radius: 0.5em;
  margin: 1em 0 0 0;
  padding: 0em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.modal-submit-button {
  margin: 1em 1em 0 1em;
  background-color: #1A6A3E;
  color: #e0e4e5;
  border-radius: 0.5em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.scanner-button {
  margin: 1em 0 0 0;
  border-radius: 0.5em;
  padding: 0 0.75em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

#ingredient-input-wrapper {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 78%;
  box-sizing: border-box;
  background-color: hsl(160, 5%, 20%);
  width: 90%;
  border-radius: 1.2em;
  margin: auto;
}
#ingredient-input-wrapper .button-bar {
  display: flex;
}

.ingredient-input-dialog {
  display: grid;
  grid-template-rows: repeat(4, 0.1fr);
  grid-column-gap: 2em;
  grid-row-gap: 1em;
  grid-template-columns: 0.3fr 1fr 0.3fr 1fr;
  align-items: center;
}
.ingredient-input-dialog .col-3 {
  color: #e0e4e5;
  text-align: left;
  font-size: 1rem;
  vertical-align: middle;
  font-weight: 800;
}
.ingredient-input-dialog .value {
  border-radius: 0.5em;
  border: none;
  background-color: hsl(160, 6%, 28%);
  color: #e0e4e5;
  width: 100%;
  text-align: center;
  padding: 0.25em;
}
.ingredient-input-dialog .headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 5;
}
.ingredient-input-dialog .headline {
  text-align: center;
  color: #e0e4e5;
}

* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 1em;
  background-color: #16a085;
  color: rgb(242, 246, 249);
}

html, body {
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex: 1;
  height: 94.75vh;
}
.main-section .display-data-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(160, 5%, 20%);
  flex: auto;
  overflow-y: scroll;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*# sourceMappingURL=style.css.map */
