$font-stack: Helvetica, Arial, sans-serif;

$dark-green: #1A6A3E;
$manjaro-green: #16a085;

$manjaro-dark-grey: hsl(163, 6%, 23%); 
$manjaro-grey: hsl(160, 5%, 20%); 
$manjaro-light-grey: rgb(52, 59, 56);
$manjaro-slight-grey: rgb(68, 77, 74);; 
$darker-grey: rgb(107, 106, 106);
$medium-grey: rgb(124, 124, 124);
$light-grey: rgb(156, 155, 155);
$lighter-grey: rgb(212, 211, 211);

$whiteOne: #e0e4e5;
$whiteTwo: rgb(242, 246, 249);

* {
    margin: 0;
    font-family: $font-stack;
}

.header {
    text-align: center;   
    padding: 1.5em; 

    background-color: $manjaro-green;
    color: $whiteTwo;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex: 1;

    & .display-data-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;

        & .card {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 4;
            grid-gap: 1em;
            width: 84%;
            background-color: $manjaro-slight-grey;

            color: $whiteOne;
            border-radius: 1.2em;
            padding: 1.5em;
            margin: .35em;

            & .col-1 {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        
            & .col-2 {
                grid-column-start: 3;
                grid-column-end: 5;
            }
        
            & .col-1, 
            .col-2 {
                font-size: 1.5rem;
                font-weight: 900;
                margin: 0 0 .5em 0;
            }
        
            & .col-3, 
            .col-4 {
                margin: auto 0;
            }
        
            & .col-2, 
            .col-4 {
                text-align: end;
            }
        }
    }

    & .input-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $manjaro-dark-grey;
        color: $whiteTwo;

        & .input-section {
            width: 90%;    
        }

        & .field {
            padding: .5em;
            border-radius: 2em;
            border: none;
            text-align: center;

            background-color: $manjaro-slight-grey;
            color: $whiteTwo;    
        }

        & .label {
            text-align: center;
            margin: 2.25em 0 .75em 0;
        }

        & .form-submit-button {
            color: $whiteTwo;
            background-color: $manjaro-slight-grey;
            border: none;
            margin: 2em;
        }
    }
}


 






