$font-stack: Helvetica, Arial, sans-serif;

@use './abstracts/colors';
@use './components/card';



* {
    margin: 0;
    font-family: $font-stack;
}

.header {
    text-align: center;   
    padding: 1em; 

    background-color: colors.$manjaro-green;
    color: colors.$whiteTwo;
}

html, body {
    height: 100vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    flex: 1;

    height: 94.75vh;

    & .display-data-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        background-color: colors.$manjaro-grey;

        flex: auto;
        overflow-y: scroll;
    }
    

    & .input-form {
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: colors.$manjaro-dark-grey;
        color: colors.$whiteTwo;

        flex: 0 0 auto;
        
        & .input-field {
            width: 90%;
            line-height: 1.5em;        

            padding: .5em;
            border-radius: 2em;
            border: none;
            text-align: center;

            background-color: colors.$manjaro-slight-grey;
            color: colors.$whiteTwo;    
        }

        & .label {
            text-align: center;
            margin: 1.5em 0 .5em 0;
        }

        & .form-submit-button {
            color: colors.$whiteTwo;
            background-color: colors.$manjaro-slight-grey;
            border: none;
            margin: 1em;

            padding: 0.8em 1.75em;
            font-size: 1rem;
            border-radius: 2em;
        }

        & .form-submit-button:focus {
            opacity: .8;
        }

        & .form-submit-button:active {
            opacity: .24;
        }
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number']{
    -moz-appearance: textfield;
}

