$font-stack: Helvetica, Arial, sans-serif;

$dark-green: #1A6A3E;
$manjaro-green: #16a085;

$manjaro-dark-grey: hsl(160, 5%, 12%); 
$manjaro-grey: hsl(160, 5%, 20%); 
$manjaro-light-grey: rgb(52, 59, 56);
$manjaro-slight-grey: rgb(68, 77, 74);; 
$darker-grey: rgb(107, 106, 106);
$medium-grey: rgb(124, 124, 124);
$light-grey: rgb(156, 155, 155);
$lighter-grey: rgb(212, 211, 211);

$whiteOne: #e0e4e5;
$whiteTwo: rgb(242, 246, 249);

* {
    margin: 0;
    font-family: $font-stack;
}

.display-data-section {
    display: flex;
    justify-content: center;
}
 
.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4;
    grid-gap: 1em;
    background-color: $manjaro-slight-grey;
    
    color: $whiteOne;
    border-radius: 1em;
    padding: 1.5em;
}


.col-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.col-2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.col-1, 
.col-2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.col-3, 
.col-4 {
    margin: auto 0;
}

.col-2, 
.col-4 {
    text-align: end;
}
