@use '../abstracts/colors';

.button {
    border: none;
    margin: 1em auto;

    padding: 0.5em 1em;
    font-size: 1rem;
    border-radius: 2em;

    font-size: .75rem;
}

.form-submit-button {
    color: colors.$whiteTwo;
    background-color: colors.$manjaro-slight-grey;
}

.delete-button {
    color: colors.$whiteTwo;
    background-color: colors.$redOne;
}

.cancel-button, 
.close-modal-button {
    color: colors.$whiteTwo;
    text-shadow: 0 0 25px black;
    background-color: colors.$orangeOne;
}

.delete-button:focus, 
.form-submit-button:focus {
    opacity: .8;
}

.close-modal-button {
    border-radius: .5em;
    margin: 1em 0 0 0; 
    

    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
}

.modal-submit-button{
    margin: 1em 1em 0 1em; 

    background-color: colors.$dark-green;
    color: colors.$whiteOne;

    border-radius: .5em;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.scanner-button{
    margin: 1em 0 0 0; 

    border-radius: .5em;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; //follow width prop.
}
