.form-submit-button {
    color: colors.$whiteTwo;
    background-color: colors.$manjaro-slight-grey;
    border: none;
    margin: 1em;

    padding: 0.8em 1.75em;
    font-size: 1rem;
    border-radius: 2em;
}



.form-submit-button:focus {
    opacity: .8;
}
        
.form-submit-button:active {
    opacity: .24;
}