@use '../abstracts/colors';


.card {
    
    width: 96%;
    display: grid;
    
    box-sizing: border-box;
    
    background-color: colors.$manjaro-slight-grey;

    color: colors.$whiteOne;
    border-radius: 1.2em;
    padding: 1.5em;
     
    margin: .75em .75em 0 .75em;
}

.card:last-child {
    margin-bottom: .75em;
}

.card-summary {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 /12;
    grid-template-columns: 1fr 1fr;

    

    & .value {
        text-align: right;
    }
}

.nutrition-value-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    row-gap: 1em;
    column-gap: 1em;
    
    margin-top: 2em;

    & .value {
        text-align: right;

        align-items: center;
    }
}

/*
    - Resize summary row
    - Gaps 
*/