@use '../abstracts/colors';



.card {
    width: 95.5%;
    display: grid;
    
    box-sizing: border-box;
    
    background-color: colors.$manjaro-slight-grey;

    color: colors.$whiteOne;
    border-radius: 1.2em;
    padding: 1.5em;
     
    margin: .75em .75em 0 .75em;
}

.card:last-child {
    margin-bottom: .75em;
}

.card-summary {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 1 /12;
    grid-template-columns: 2em 1fr 1fr;
    align-items: center;
    font-size: 1rem;
    font-weight: 900; 
    
    pointer-events: none;    


    & .ingredient-name {
        pointer-events: auto;    

        margin-left: 1.5em;
    }

    & .value {
        pointer-events: auto;    
        text-align: right;
    }

    & .select-indicator {
        background-color: colors.$manjaro-dark-grey; //colors.$whiteTwo;
        height: 1.75em;
        width: 1.75em;
        border-radius: .5em;
    }  
}
.card.highlighted{
    border: 1px solid colors.$whiteTwo;
    //box-shadow: 0 0 2px .9px colors.$whiteTwo;
}

.select-indicator.highlighted {
    background-color: colors.$whiteOne;
    
}

.nutrition-value-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    row-gap: 1em;
    column-gap: 1em;
    
    margin-top: 2em;

    font-size: 0.8rem;

    & .value {
        text-align: right;

        align-items: center;
    }
}

