@use '../abstracts/colors';


#ingredient-input-wrapper {
    //border: none;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 78%;
    //height: 500px;
    box-sizing: border-box;
    //top: 65%;
    //transform: translateY(-50%);

    background-color: colors.$manjaro-grey;
    width: 90%;
    border-radius: 1.2em;
    margin: auto;

    & .button-bar {
        display: flex;
    }
}


.ingredient-input-dialog{
    display: grid;
    grid-template-rows: repeat(4, .1fr);// 2fr 2fr 2fr;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
    grid-template-columns: .3fr 1fr .3fr 1fr;
    
    align-items: center;


    & .col-3 {
        color: colors.$whiteOne;
        text-align: left;
        font-size: 1rem;
        vertical-align: middle;
        font-weight: 800;
    }

    & .value {
        border-radius: .5em;
        border: none;
        background-color: colors.$manjaro-slight-grey;
        color: colors.$whiteOne;
        width: 100%;
        text-align: center;
        padding: .25em;
        //margin: 1em 0;

    }


    & .headline-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    & .headline {
             
        text-align: center;
        color: colors.$whiteOne;
    }
}


    
