$dark-green: #1A6A3E;
$manjaro-green: #16a085;

$manjaro-dark-grey: hsl(163, 6%, 23%); 
$manjaro-grey: hsl(160, 5%, 20%); 
$manjaro-light-grey: hsl(154, 6%, 22%);
$manjaro-slight-grey: hsl(160, 6%, 28%); 
$darker-grey: rgb(107, 106, 106);
$medium-grey: rgb(124, 124, 124);
$light-grey: rgb(156, 155, 155);
$lighter-grey: rgb(212, 211, 211);

$whiteOne: #e0e4e5;
$whiteTwo: rgb(242, 246, 249);

$redOne: hsl(0, 100%, 30%);

$yellowOne: hsl(15, 93%, 41%);

$yellowTwo: hsl(45, 55%, 60%);